<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="banner">
    <div class="logo">
        <img src="logo-ifrs.png" alt="Logo IFRS">
    </div>
    <div class="titulo">Sistema de Agendamento IFRS</div>
    <!-- botão Sair removido temporariamente -->
</div>


<div class="menu">
    <a href="index.html" class="active">🏠 Início</a>
    <a href="login.html">🔐 Login</a>
    <a href="agendamento.html">📅 Agendamento</a>
    <a href="/horarios">⏰ Horários</a>
</div>

    <div class="container">
        <h2>Bem-vindo ao sistema de agendamento da quadra esportiva do IFRS!</h2>
        <p>Nosso projeto é um sistema de reserva da quadra esportiva do IFRS, com o intuito de simplificar o processo de
            reservas da quadra para os alunos e para o Diretor Geral, sendo um processo mais rápido e automático.</p>
    </div>

    <script src="js/session.js"></script>

</body>
</html>
